<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./parcials/head') %>
    <link rel="stylesheet" href="/css/main-res-aire.css">
</head>

<body>
    <header>
        <%- include('./parcials/header') %>
    </header>

    <main>
        <h2>Bienvenido Usuario</h2>
        <div class="opciones">
            <a href="#">Programar cita Certificaciones</a>
            <a href="#">Progamar cita Urgente</a>
            <a href="#">Mis Datos</a>
        </div>
    </main>
    <%- include('./parcials/footer') %>
</body>

</html>