<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reservationConfirmation.css">
    <title>Confirmation</title>
</head>
<body>
    <main>
        <div class="popup">
            <h2>Reserva Confirmada</h2>
            <p>Nombre: <%= firstName %> <%= surname %></p>
            <p>Fecha: <%= date %></p>
            <p>Hora: <%= hour %></p>
            <a href="/calendario" class="btn">Volver al Calendario</a>
        </div>
    </main>
    
</body>
</html>